.article {
	border: 1px solid grey;
	margin: 5px 0;
	/*padding: 5px 5px;*/
}

.article input {
	width: 50%;
	margin-right: 5px;
}

.commentsDiv {
	display: none;
	transition: height 1s;
}

.commentDiv *{
	display: inline-block;
}
.commentsList {
	border: 1px solid black;
	margin: 5px 0;
}